* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

:target {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/* ------------------------------Portfolio section----------------------------------------- */

a {
  text-decoration: none;
  color: #7F7F7F;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
}

header {
  background-color: #FAFAFA;
  padding-bottom: 40px;
}

h1 {
  margin: 0;
}

.main-nav {
  padding-bottom: 35px;
}

h1, .main-nav li {
  text-align: center;
  padding: 10px 15px;
  margin: 10px 0px;
}

.main-nav li {
  background-color: #EDEDED;
  font-size: 1.12rem;
  font-weight: bold;
  display: block;
}

.main-nav a:hover, .footer-nav a:hover, .email a:hover {
  color: #46f7f7;
}

.ban-text {
  color: #7F7F7F;
  text-align: center;
  font-size: 1.25rem;
  line-height: 30px;
}

.pf-pic {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;  
}

.card {
  background-color: #e7e5e5;
  padding-top: 50px;
  padding-bottom: 40px;
}

.pf-heading {
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}

.pf-div {
  text-align: center;
}

.pf-div h2 {
  margin-top: 40px;
  margin-bottom: 25px;
}

.pf-div p {
  margin-top: 0px;
  margin-bottom: 60px;
}

.pf-imgs {
  max-width: 100%;
}

/*============================== Footer Styles========================================= */

.contact, footer {
  background-color: #FAFAFA;
  color: #7F7F7F;
  text-align: center;
  font-size: 1.25rem;
  line-height: 30px;
}

.contact {
  text-align: center;
  padding: 60px;
  border-top: 1px solid #E7E7E7;
}

.name,
.main-nav li a,
.pf-div h2,
.pf-div p,
.contact-head, 
.sd-name, 
.btt-link,
.footer-nav a {
  color: #4A4A4A;
}

.contact-head {
  margin: 0;
}

.main-footer {
  border-top: 1px solid #E7E7E7;
  height: 60px;
}

.email {
  margin-bottom: 0px;
}

.footer-nav li {
  margin: 0px 10px;
}

.footer-nav {
  display: none;
}

.sd-name {
  float: left;
}

.btt-link {
  float: right;
  margin: 16px 0px;
}

.sd-name, 
.btt-link,
.footer-nav {
  font-size: 1.12rem;
  font-weight: bold;
}

/* Media Queries */

  @media only screen and (min-width: 768px) {

      .container {
          width: 85%;
          margin: 0 auto; 
          padding-left: 0rem;
          padding-right: 0rem;
      }

      .sd-container {
          padding: 0 5px;
      }

      .name {
          font-size: 2rem;
          padding-left: 0px;
      }

      .main-nav {
          text-align: center;
          padding-right: 0px;
      }

      .main-nav li {
          display: inline-block;
          background-color: transparent;
      }

      li.contact-li {
          padding-right: 0px;
      }

      ul.footer-nav {
          display: block;
          float: right;
          margin: 16px 0px;
      }

      .banner {
          float: right;
      }

      .ban-text {
          text-align: left;
      }

      .pf-pic {
          margin: 0;
          padding-right: 0px;
          float: right;
          max-width: 320px;
      }

      .pf-div {
          width: 50%;
          padding: 0 5px;
      }

      .col-1, 
      .col-2, 
      .col-3, 
      .col-4, 
      .col-5, 
      .col-6 {
          float: left;
          min-height: 400px;
      }

      .pf-div h2 {
          margin-top: 42px;
          margin-bottom: 25px;
      }
      
      .pf-div p {
          margin-top: 0px;
          margin-bottom: 20px;
      }

      .ban-text {
          overflow: hidden;
      }

      .clearfix::after {
          content: "";
          display: table;
          clear: both;
        }

      .btt-link {
          display: none;
      }

      .footer-nav {
          display: block;
          float: right;
          margin: 16px;
      }

      .footer-nav li {
          display: inline-block;
      } 

  }
     
  @media only screen and (min-width: 1024px) {

      .container {
          width: 90%;
          margin: 0 auto;
          padding-left: 0rem;
          padding-right: 0rem;
      }

      .sd-container {
          padding: 0 10px;
      }

      .name {
          float: left;
          font-size: 1.5rem;
      }

      .main-nav {
          float: right;
      }

      .pf-div {
          width: 33.33333333333%;
          padding: 0 10px;
      }

  }