/*Universal style*/
  * {
          box-sizing: border-box;
          }

        
body {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  letter-spacing: .05em;
  background:#c6c7d3;
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
}
/* -------------------------------- --------Navigation ------------------------------ */
header {
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  color: #000;
  font-size: 1.7em;
  margin:20px 0;
  display: inline-block;
  }

.top-nav a {
    background: #c6c7d3;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  
.top-nav li {
    list-style: none;
    margin: 10px 15px;
  }

.top-nav {
  float: right;
  display: block;
  }

.intro {
    clear: both;
}

.profile-img {
  float:right;
  max-width: 100%;
  padding: 3%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.top a {
  text-align: right;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: #46f7f7;
}

p {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer p{
  clear: both;
  text-align: center;
  font-size: .5em;
}

/* ------------------------------Portfolio section----------------------------------------- */
#portfolio {
  padding-top: 30px;
}

.container {
  margin:0 auto;
  width: 100%;
  text-align: center;
}

.background {
  background: #fff;
}

.project-pic {
  width: 100%;
  max-width: 80%;
  box-shadow: 10px 10px 8px #888888;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.col {
  width: 50%;
  padding: 1em;
  float: left;
}
  /* ------------------------------------- contact & footer--------------------------------- */

.contact {
    padding: 2em 10em;
}
  
.footer-nav li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
  
footer {
    border-top: dashed grey 1px;
}
  
footer h3 {
    float:left;
    width: 49% 25%;
}
  
  footer ul {
    float:right;
    width: 49%;
}

.footer-nav a {
  text-transform: uppercase;
  margin-right: 5px;
}

.top {
  visibility: hidden;
}
  
/*----------------------------------------- Media Query --------------------------------- */

@media (min-width: 768px) {
    .top-nav li {
    display: inline-block;
  }

@media (min-width: 1024px) {
    h1 {
  float:left;
  font-size: 1.75em;
}